<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Dishes</h1>
    <input type="button" onclick="clicked()">
    <a href="/">Main Menu</a>
    <a href="/dishes">Wszystkie</a>
    <a href="/dishes/1">Dania glowne</a>
    <a href="/dishes/2">Zupy</a>
    <a href="/dishes/3">Napoje</a>
    <a href="/dishes/4">Desery</a>

    <table>
        <tr>
            <th>Dish Id</th>
            <th>Dish Name</th>
            <th>Dish Type</th>
            <th>Dish Price</th>
        </tr>

        <tr th:each="dish: ${dishes}">
            <td th:text="${dish.dishId}"></td>
            <td th:text="${dish.dishName}"></td>
            <td th:text="${dish.dishType.dishTypeName}"></td>
            <td th:text="${dish.dishPrice}"></td>
        </tr>
    </table>

    <script>
        function clicked() {
            console.log("abc");
        }
    </script>
</body>
</html>