<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h1>Orders</h1>

    <table>
        <tr>
            <th>Order id</th>
            <th>User</th>
            <th>Status</th>
            <th>Value</th>
            <th>Data</th>
        </tr>

        <tr th:each="orderTable: ${orderTables}">
            <td th:text="${orderTable.orderId}"></td>
            <td th:text="${orderTable.user.login}"></td>
            <td th:text="${orderTable.status.statusName}"></td>
            <td th:text="${orderTable.value}"></td>
            <td th:text="${orderTable.dateTime}"></td>
        </tr>
    </table>
</body>
</html>